@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import '../../../styles.scss';

* {
    font-family: 'Signika Negative', sans-serif;
}

//footer section
.footer {
    background: linear-gradient(0.12turn, var(--background-blue), var(--primary-blue));
    margin-top: 3.86%;
    padding-top: 40px;

    .f-card {
        display: flex;
        margin: auto;
        border-radius: 20px;
        padding: 40px;
        width: 90%;
        background-color: var(--footer-f-card-color);
        flex-direction: row;
        justify-content: space-around;

        .logo {
            display: flex;
            justify-self: center;

            a {
                text-decoration: none;
            }
        }

        .huiospay {
            h3 {
                font-size: 21px;
                color: #ffffffe5;
            }

            .list {
                li {
                    list-style: none;
                    font-size: 20px;
                    color: #fff;
                    padding-bottom: 6px;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }

            .social {
                display: flex;
                flex-direction: row;

                li {
                    font-size: 30px;
                    background-color: #fff;
                    border-radius: 100%;
                    list-style: none;
                    padding: 5px 8px;
                    margin-right: 5px;
                    cursor: pointer;

                    app-font-icon {
                        margin: auto;
                        align-self: center;
                    }
                }
            }
        }
    }

    .footbase {
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

//end of footer section


/* Media Query for Mobile Devices */
@media (max-width: 480px) {

    //footer section
    .footer {
        display: flex;
        background: linear-gradient(0.12turn, var(--background-blue), var(--primary-blue));
        margin-top: 0;
        padding-top: 40px;
        flex-direction: column;


        .f-card {
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 40px;
            width: 68%;
            justify-content: space-around;

            .logo {
                display: flex;
                justify-self: center;

                a {
                    text-decoration: none;
                }
            }

            .huiospay {
                h3 {
                    font-size: 23px;
                }

                .list {
                    li {
                        font-size: 25px;
                        padding-bottom: 6px;

                        a {
                            text-decoration: none;
                        }
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;

                    li {
                        font-size: 22px;
                        padding: 4px 2px;

                        app-font-icon {}
                    }
                }
            }
        }

        .footbase {}
    }
    //end of footer section
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 800px){
    //footer section
    .footer {
        display: flex;
        background: linear-gradient(0.12turn, var(--background-blue), var(--primary-blue));
        margin-top: 0;
        padding-top: 40px;
        flex-direction: column;


        .f-card {
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 40px;
            width: 68%;
            justify-content: space-around;

            .logo {
                display: flex;
                justify-self: center;

                a {
                    text-decoration: none;
                }
            }

            .huiospay {
                h3 {
                    font-size: 23px;
                }

                .list {
                    li {
                        font-size: 22px;
                        padding-bottom: 6px;

                        a {
                            text-decoration: none;
                        }
                    }
                }

                .social {
                    display: flex;
                    flex-direction: row;

                    li {
                        font-size: 20px;
                        padding: 4px 8px;
                        

                        app-font-icon {}
                    }
                }
            }
        }

        .footbase {}
    }
    //end of footer section
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 801px) and (max-width: 1024px) {
    .footer {
        background: linear-gradient(0.12turn, var(--background-blue), var(--primary-blue));
        margin-top: 0%;
    }
     
}

/* Media Query for macbook Pro  15 */
@media (min-width: 1440px) {
//footer section
.footer {
    margin-top: 4.7%;
}
//end of footer section
}

/* Media Query for office hp  15 */
@media (min-width: 1600px) {
    //footer section
.footer {
    margin-top: 3.7%;
}
//end of footer section
}