<div class="nav-bar">
    <div class="logo">
        <img src="assets/img/logo.png" alt="logo">
    </div>

    <div class="menu">
        <div class="dropdown">
            <button class="dropbtn">Why Huiospay
               
            </button>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Developer
                <app-font-icon iconType="remix" iconName="arrow-down-s-line" iconSize="custom" iconColor="#fff">
                </app-font-icon>
            </button>
            <div class="dropdown-content">
                <a href="#">Overview</a>
                <a href="#">Integratoin</a>
                <a href="#">Documentation</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Company
                <app-font-icon iconType="remix" iconName="arrow-down-s-line" iconSize="custom" iconColor="#fff">
                </app-font-icon>
            </button>
            <div class="dropdown-content">
                <a href="#">About Us</a>
                <a href="#">Training & Development</a>
                <a href="#">Careers</a>
                <a href="#">Customer Review</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Support
                <app-font-icon iconType="remix" iconName="arrow-down-s-line" iconSize="custom" iconColor="#fff">
                </app-font-icon>
            </button>
            <div class="dropdown-content">
                <a href="#">Contact Us</a>
                <a href="#">FAQs</a>
                <a href="#">Quick Help</a>
            </div>

        </div>
    </div>

    <div class="menu-action">
        <div class="action">
            <div class="button-row">
                <button class="btn">Become a Merchant</button>
            </div>
            <div class="icon">
                <app-font-icon iconType="remix" iconName="user-fill" iconSize="custom" iconColor="#fff">
                </app-font-icon>
            </div>
        </div>
    </div>

    <!-- <div class="hamburger">
        <div class="icon">
            <app-font-icon iconType="remix" iconName="menu-fill" iconSize="medium" iconColor="#fff">
            </app-font-icon>
        </div>
        <div class="content">
            lkhwoegubw
            wkfjwbgewkjg
            glwegewih;ujk
        </div>
    </div> -->

    <!-- <section class="top-nav">

        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
        <ul class="menu-a">
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
          <li>Four</li>
          <li>Five</li>
        </ul>
      </section> -->
</div>