<div class="img fade-in-left">
    <img src="../../../assets/img/map.svg" alt="map svg">
  </div>

  <!-- map section-->
  <div class="overlay">
    <div class="overlay-left tracking-in-contract-bck-top">
      <div class="bold-text">
        <h2>
          We make an impact
          in ways that improve life
          far beyond everyone else
        </h2>
      </div>
      <!-- <div class="parag">
                <p>A flexible payment solution that support every stage of your growth</p>
            </div> -->
      <div class="btn">
        <button class="btn-agent">Become an Agent</button>
        <button class="btn-agent-setup">Setup your Business Test</button>
      </div>

    </div>
    <div class="overlay-right">
      <img src="../../../assets/img/user2.png" alt="user-smilling">
    </div>
  </div>
  <!--End  map section-->