<div class="container">
    <app-navbar></app-navbar>
    <img src="../../../../assets/img/map.svg" alt="bg">

    <!-- map section-->
    <div class="overlay">
        <div class="overlay-left">
            <div class="bold-text">
                <h2>Modern payments solutions for Nigeria & Africa</h2>
            </div>
            <div class="parag">
                <p>A flexible payment solution that support every stage of your growth</p>
            </div>
            <div class="btn">
                <button class="btn-agent">Become an Agent</button>
                <button class="btn-agent-setup">Setup your Business Test</button>
            </div>

        </div>
        <div class="overlay-right">
            <img src="../../../../assets/img/user.png" alt="bg">

        </div>
    </div>

    <!--End  map section-->

    <!-- seamless payment section-->
    <div class="seamles-section">
        <div class="seamles-title">
            <button class="btn-seamless">seamless Payment Experince</button>
        </div>
        <div class="seamles-heading">
            <h2> Make payment the best part of transacting with you! </h2>
        </div>
        <div class="seamless-payment">
            <div class="left">
                <div class="icon">
                    <img src="../../../../assets/img/icon1.png" alt="">
                </div>
                <div class="text">
                    <div class="text-title">
                        <h3>
                            Secure Transactions
                        </h3>
                    </div>
                    <div class="text-msg">
                        <h4>
                            We provide cutting-edge innovative infrastructure aimed at creating infinite possibilities
                            of secure transactions.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="middle">
                <div class="icon">
                    <img src="../../../../assets/img/icon2.png" alt="">
                </div>
                <div class="text">
                    <div class="text-title">
                        <h3>
                            Reporting
                        </h3>
                    </div>
                    <div class="text-msg">
                        <h4>
                            HuiosPay simplify your bookkeeping processes and help maximize your output for efficiency to
                            help reach your zenith.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="icon">
                    <img src="../../../../assets/img/icon3.png" alt="">
                </div>
                <div class="text">
                    <div class="text-title">
                        <h3>
                            99.9% Success Rates
                        </h3>
                    </div>
                    <div class="text-msg">
                        <h4>
                            Enjoy streamlined and seamless transaction experience with highly competitive and phenomenal
                            success rate on HuiosPay.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End seamless payment section-->

    <!-- what we do-->
    <div class="what-we-do">
        <div class="wwd-left">
            <img src="../../../../assets/img/terminal.png" alt="terminal">
        </div>
        <div class="wwd-right">
            <div class="wwd-button">
                <button class="btn-wwd">What We Do?</button>
            </div>
            <div class="wwd-title">
                <h2> Accept payments from multiple channels. </h2>
            </div>
            <div class="wwd-text">
                <h3>
                    Our goal is to expose your business to an endless possibilities of modern, frictionless and painless
                    payments. Our ongoing commitment to efficiency manifests in our ability to provide a wide variety of
                    payment options for your business needs.
                </h3>
            </div>
            <div class="wwd-bulleton">
                <div class="list">
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Debit/Credit Cards</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>POS</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Mobile Money</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>USSD</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Bank Transfer</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Visa QR</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- end of what we do-->

    <!-- why us section -->
    <div class="why-us">
        <div class="wu-left">
            <div class="wu-btn">
                <button class="btn-wwd">Why Us?</button>
            </div>
            <div class="wu-title">
                <h3>
                    Find out why we are the preferred payment platform in Africa!
                </h3>
            </div>
            <div class="wu-card">
                <div class="icon">
                    <img src="../../../../assets/img/why1.png" alt="why-us">
                </div>
                <div class="right">
                    <div class="title">
                        <h3>Security</h3>
                    </div>
                    <div class="text">
                        <h4>Our platform is designed to provide end-to-end protect against fraud and suspicious
                            activities</h4>
                    </div>
                </div>
            </div>
            <div class="wu-card">
                <div class="icon">
                    <img src="../../../../assets/img/why2.png" alt="why-us">
                </div>
                <div class="right">
                    <div class="title">
                        <h3>Fast Settlement</h3>
                    </div>
                    <div class="text">
                        <h4>We ensure the fastest remittance window to your approved account within 24 hours</h4>
                    </div>
                </div>
            </div>
            <div class="wu-card">
                <div class="icon">
                    <img src="../../../../assets/img/why3.png" alt="why-us">
                </div>
                <div class="right">
                    <div class="title">
                        <h3>Dispute Resolution</h3>
                    </div>
                    <div class="text">
                        <h4>Claims and disputes are resolved within the shortest possible time</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="wu-right">
            <img src="../../../../assets/img/why.png" alt="why us">
        </div>
    </div>
    <!-- End of Why us Section -->

    <!-- Get on Huiospay safe train-->
    <div class="huospay-safe-tain">
        <div class="hst-left">
            <img src="../../../../assets/img/huiospay-train.png" alt="terminal">
        </div>
        <div class="hst-right">
            <div class="hst-button">
                <button class="btn-hst">GET ON HUIOSPAY SAFE TRAIN</button>
            </div>
            <div class="hst-title">
                <h2> Integrating HuiosPay APIs and start Collecting </h2>
            </div>
            <div class="hst-text">
                <h3>
                    Our APIs has been developed with Developers in mind; well-documented APIs that let you to build
                    every features with in the shortest period of time. If you can imagine it, you can build it with
                    HuiosPay.
                </h3>
            </div>
            <div class="hst-bulleton">
                <div class="list">
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Collect one-time and recurring payments from your app or website.</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Make instant transfers</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Retrieve all your transactions and customer data</p>
                        </div>
                    </div>
                    <div class="list1">
                        <div class="icon">
                            <img src="../../../../assets/img/bulleton.png" alt="icon">
                        </div>
                        <div class="text">
                            <p>Verify the identity of customers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coming-soon">
                <h4><a href="#"> coming soon</a></h4>
                <img src="../../../../assets/img/arrow.png" alt="icon">
            </div>

        </div>
    </div>
    <!-- End Get on Huiospay safe train-->

    <!-- Community section-->
    <div class="community-section">
        <img src="../../../../assets/img/community.png" alt="">
        <div class="c-holder">
            <div class="left">
                <div class="text">
                    <h3> Join the community of smart business decision makers</h3>
                </div>
                <div class="c-button">
                    <button class="btn-hst">Setup HuiosPay Account</button>
                </div>
            </div>
            <div class="right">
                <img src="../../../../assets/img/group.png" alt="">
            </div>
        </div>
    </div>
    <!--End Community section-->

    <!-- footer -->
    <div class="footer">
        <div class="f-card">
            <div class="logo">
                <a href="#">
                    <img src="../../../../assets/img/logo2.png" alt="">
                </a>
            </div>
            <div class="huiospay">
                <h3>HuiosPay</h3>
                <div class="list">
                    <li><a href="#">Why HuiosPay</a></li>
                    <li><a href="#">Developer</a></li>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Become a Merchant</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Login/Sign Up</a></li>
                </div>
            </div>
            <div class="huiospay">
                <h3>Legal</h3>
                <div class="list">
                    <li><a href="#">Cookies Policy</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Merchant Service Agreement</a></li>
                    <li><a href="#">FAQs</a></li>
                </div>
            </div>

            <div class="huiospay">
                <h3>Contact</h3>
                <div class="list">
                    <li>Plot 86, Cadastral Zone B06, Mabushi District, ABuja </li>
                    <li><a href="mailto:hello@gmail.com">hello@huiospay.com</a></li>
                    <li><a href="tel: +2348037086670"> 08037086670 </a></li>
                </div>
                <div class="social">
                    <li>facebook</li>
                    <li>twitter</li>
                    <li>instagaram</li>
                </div>
            </div>
        </div>
        <div class="footbase">
            <p>Copyright &copy; 2020-2023, HuiosPay. All rights reserved. Powered by HuiosPay </p>
        </div>
    </div>
    <!-- End Footer-->


</div>