@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import '../../../../styles.scss';

* {
  font-family: 'Signika Negative', sans-serif;
}

.container {
  background-color: #fff;
  width: 100%;

  button {
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: var(--become-agent-color);
    color: var(--primary-blue);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
  }


  //background 
  .img {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .fade-in-left {
    -webkit-animation: fade-in-left 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }

  //end of background//

  //map section
  .overlay {
    position: absolute;
    top: 10%;
    padding: 10px 14px;
    display: flex;
    flex-direction: row;
    height: 400px;

    .overlay-left,
    .overlay-right {
      display: flex;
      justify-content: space-around;
    }

    .overlay-left {
      width: 60%;
      flex-direction: column;
      margin-top: 80px;
      margin-left: 50px;

      .bold-text {
        h2 {
          color: #fff;
          font-size: 50px;
          font-weight: 600;
        }
      }

      .parag {
        p {
          font-size: 25px;
          color: #fff;
        }
      }

      .btn {
        display: flex;

        button {
          padding: 8px 70px;
          border-radius: 18px;
          border: none;
          color: #fff;
          cursor: pointer;
          font-size: 21px;
          margin-right: 5%;

        }

        .btn-agent {
          background: #FFFFFF;
          color: var(--primary-blue);
        }

        .btn-agent-setup {
          background-color: var(--setup-acct-color);
        }
      }
    }

    .overlay-right {
      width: calc(100% - 50%);
      flex-direction: column;

      img {
        margin-top: 20rem;
        height: 100vh;
        position: relative;
        rotate: 0 1 1 -2deg;
      }
    }
  }

  .tracking-in-contract-bck-top {
    -webkit-animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract-bck-top 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  //end of map section

  //seamless payment section
  .seamless-section {
    display: flex;
    flex-direction: column;

    .seamless-title {
      padding: 10px;
      margin: auto;

      .btn-seamless {
        font-size: 25px;
        padding: 8px 70px;
        text-transform: uppercase;
      }

    }

    .seamless-heading {
      margin: auto;
      max-width: 50%;

      h2 {
        color: var(--primary-blue);
        text-align: center;
        font-size: 50px;
      }
    }

    .seamless-payment {
      display: flex;
      flex-direction: row;
      padding-left: 90px;
      padding-right: 90px;

      .left,
      .middle,
      .right {
        display: flex;
        flex-direction: row;

        .icon {
          padding-left: 10px;
          align-self: center;

          img {
            height: 100;
            width: auto;
          }
        }

        .text {
          display: flex;
          flex-direction: column;

          .text-title {
            margin: 0;
            padding: 0;

            h3 {
              color: var(--primary-blue);
              font-size: 26px;
            }
          }

          .text-msg {
            h4 {
              font-size: 25px;
              font-weight: 100;
              line-height: 1.5;
            }
          }
        }

      }
    }
  }

  //end of seamless payment section

  // what we do section
  .what-we-do {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-left: 40px;
    padding-right: 90px;

    .wwd-left {
      width: 60%;
      cursor: pointer;

    }

    .wwd-right {
      width: calc(100% - 50%);

      .wwd-button {
        .btn-wwd {
          padding: 8px 70px;
          font-size: 25px;
          text-transform: uppercase;
        }
      }

      .wwd-title {
        width: 80%;

        h2 {
          color: var(--primary-blue);
          font-size: 34px;
        }
      }

      .wwd-text {
        padding-right: 10px;

        h3 {
          font-size: 25px;
          font-weight: 100;
          color: var(--font-color);
        }
      }

      .wwd-bulletin {
        display: flex;
        flex-direction: column;

        .list {
          display: flex;
          flex-direction: row;


          .list1 {
            display: flex;
            flex-direction: row;
            margin-right: 5%;
            min-width: 300px;

            .icon {
              display: flex;
              align-self: center;
              max-width: 30px;
            }

            .text {
              margin-left: 10px;

              p {
                color: var(--font-color);
                padding-left: 15px;
                font-size: 22px;
              }
            }
          }
        }
      }

    }
  }

  //end of what we do section

  //why us section
  .why-us {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 90px;
    margin-top: 5%;

    .wu-left {
      width: 60%;
      padding-left: 50px;

      .wu-btn {
        .btn-wwd {
          padding: 8px 70px;
          font-size: 25px;
          text-transform: uppercase;
        }
      }

      .wu-title {
        width: 100%;

        h3 {
          color: var(--primary-blue);
          font-size: 35px;
        }
      }

      .wu-card {
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid var(--primary-blue);
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        width: 70%;
        transition: 0.5s ease-in-out;
        cursor: pointer;

        .icon {
          display: flex;
          align-self: center;
          padding: 10px;
        }

        .right {
          padding: 10px;

          .title {
            h3 {
              font-size: 25px;
              color: var(--primary-blue);
            }
          }

          .text {
            h4 {
              font-size: 22px;
              line-height: 1.5;
              font-weight: 200;
            }
          }
        }

        &:hover {
          transform: translate(100px, 0px);
          -webkit-transform: translate(100px, 0px);
          -moz-transform: translate(100px, 0px);
          -ms-transform: translate(100px, 0px);
          -o-transform: translate(100px, 0px);
          border: none;
        }

        &:active {
          transform: translate(100px, 0px);
          -webkit-transform: translate(100px, 0px);
          -moz-transform: translate(100px, 0px);
          -ms-transform: translate(100px, 0px);
          -o-transform: translate(100px, 0px);
          border: none;
        }
      }
    }

    .wu-right {
      width: calc(100% - 60%);
      align-self: center;

      img {
        width: 40vw;
      }
    }

  }

  //end of why us section

  //huiospay safe train section
  .huiospay-safe-tain {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-left: 90px;
    padding-right: 90px;

    .hst-left {
      padding: 40px;
      width: 60%;

    }

    .hst-right {
      width: calc(100% - 40%);
      padding: 50px;

      .hst-button {
        .btn-hst {
          padding: 8px 70px;
          font-size: 25px;
          text-transform: uppercase;
        }

        .btn-hst-two {
          display: none
        }
      }

      .hst-title {
        width: 79%;

        h2 {
          font-size: 34px;
          color: var(--primary-blue);
        }
      }

      .hst-text {

        h3 {
          font-size: 22px;
          line-height: 1.5;
          font-weight: 100;
          color: var(--font-color);
          // text-align: justify;
        }
      }

      .hst-bulleton {
        display: flex;
        flex-direction: column;

        .list {
          display: flex;
          flex-direction: column;

          .list1 {
            display: flex;
            flex-direction: row;
            margin-right: 5%;

            .icon {
              display: flex;
              align-self: center;
              max-width: 30px;
            }

            .text {
              margin-left: 10px;

              p {
                color: var(--font-color);
                padding-left: 15px;
                font-size: 22px;
              }
            }
          }
        }
      }

      .coming-soon {
        display: flex;
        flex-direction: row;

        h4 {
          font-size: 24px;
          font-weight: 600;
          padding-right: 5px;

          a {
            text-decoration: none;
            color: var(--primary-blue);

            &:hover {
              text-decoration: underline;
            }
          }
        }

        img {
          align-items: center;
          height: 20px;
          width: 15px;
          left: 10px;
          margin-top: 35px;
        }

      }

    }
  }

  //end of huiospay train section

}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .container {

    button {
      padding: 8px 20px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
    }


    //background 
    .img {
      background-image: url("../../../../assets/img/map.svg");
      height: 80vh;
      background-size: cover;
      background-position: top;

      img {
        display: none;
      }
    }

    //end of background//

    //map section
    .overlay {
      position: absolute;
      top: 10%;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      height: 53vh;
      overflow: hidden;

      .overlay-left,
      .overlay-right {
        display: flex;
        justify-content: space-around;
      }

      .overlay-left {
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;

        .bold-text {
          h2 {
            font-size: 35px;
            font-weight: 600;
          }
        }

        .parag {
          p {
            font-size: 20px;
          }
        }

        .btn {

          button {
            padding: 8px 12px;
            border-radius: 10px;
            font-size: 13px;
            margin-right: 5%;

          }

          .btn-agent {}

          .btn-agent-setup {}
        }
      }

      .overlay-right {
        display: none;
      }
    }

    //end of map section

    //seamless payment section
    .seamless-section {
      margin-top: 10%;
      display: flex;
      flex-direction: column;

      .seamless-title {
        padding: 10px;
        margin: auto;

        .btn-seamless {
          font-size: var(--mobile-headings);
          padding: 8px 20px;
          text-transform: uppercase;
        }

      }

      .seamless-heading {
        max-width: 90%;

        h2 {
          font-size: var(--mobile-headings);

        }
      }

      .seamless-payment {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

        .left,
        .middle,
        .right {
          display: flex;
          flex-direction: column;

          .icon {
            padding-top: 20px;
            padding-left: 10px;

            img {
              height: 90px;
            }
          }

          .text {
            display: flex;
            flex-direction: column;

            .text-title {

              padding: 0;

              h3 {
                margin: 0;
                font-size: var(--mobile-headings);
              }
            }

            .text-msg {
              h4 {
                margin: 0;
                font-size: var(--mobile-text);

              }
            }
          }

        }
      }
    }

    //end of seamless payment section

    // what we do section
    .what-we-do {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .wwd-left {
        display: none;

      }

      .wwd-right {
        width: calc(100%);

        .wwd-button {
          .btn-wwd {
            padding: 8px 30px;
            font-size: var(--mobile-headings);
            text-transform: uppercase;
          }
        }

        .wwd-title {
          width: 100%;

          h2 {
            font-size: var(--mobile-headings);
          }
        }

        .wwd-text {
          padding-right: 10px;

          h3 {
            text-align: start;
            line-height: 1.5;
            font-size: var(--mobile-text);

          }
        }

        .wwd-bulletin {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 2%;
              min-width: 20px;

              .icon {
                display: flex;
                align-self: center;
                max-width: 25px;

                img {
                  width: 90%;
                }
              }

              .text {
                margin-left: 10px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: var(--mobile-text);

                }
              }
            }
          }
        }

      }
    }

    //end of what we do section

    //why us section
    .why-us {
      display: flex;
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10%;

      .wu-left {
        width: 100%;
        padding-left: 0;

        .wu-btn {
          .btn-wwd {
            padding: 8px 30px;
            font-size: var(--mobile-headings);
            text-transform: uppercase;
          }
        }

        .wu-title {
          width: 100%;

          h3 {
            font-size: var(--mobile-headings);
          }
        }

        .wu-card {
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          margin-bottom: 5%;
          width: 80%;
          transition: 0.8s ease-in-out;

          .icon {
            display: flex;
            align-self: center;
            padding: 8px;
          }

          .right {
            padding: 8px;

            .title {
              h3 {
                font-size: var(--mobile-headings);
              }
            }

            .text {
              h4 {
                font-size: var(--mobile-text);
              }
            }
          }

          &:hover {
            transform: translate(50px, 0px);
            -webkit-transform: translate(50px, 0px);
            -moz-transform: translate(50px, 0px);
            -ms-transform: translate(50px, 0px);
            -o-transform: translate(50px, 0px);
            border: none;
          }

          &:active {
            transform: translate(50px, 0px);
            -webkit-transform: translate(50px, 0px);
            -moz-transform: translate(50px, 0px);
            -ms-transform: translate(50px, 0px);
            -o-transform: translate(50px, 0px);
            border: none;
          }
        }
      }

      .wu-right {
        display: none;
      }

    }

    //end of why us section

    //huiospay safe train section
    .huiospay-safe-tain {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .hst-left {
        display: none;

      }

      .hst-right {
        width: 100%;
        padding: 0px;

        .hst-button {
          .btn-hst {
            display: none;
          }

          .btn-hst-two {
            display: block;
            padding: 8px 30px;
            font-size: var(--mobile-headings);
            text-transform: uppercase;
          }
        }

        .hst-title {
          width: 100%;

          h2 {
            font-size: var(--mobile-headings);
          }
        }

        .hst-text {
          h3 {
            font-size: var(--mobile-text);
            line-height: 1.5;
            font-weight: 100;
          }
        }

        .hst-bulleton {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 5%;

              .icon {
                display: flex;
                align-self: center;
                max-width: 30px;
                img{
                  width: 90%;
                }
              }

              .text {
                margin-left: 0px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: var(--mobile-text);
                }
              }
            }
          }
        }

        .coming-soon {
          display: flex;
          flex-direction: row;

          h4 {
            font-size: var(--mobile-headings);
            font-weight: 600;
            padding-right: 0;

            a {
              text-decoration: none;
              color: var(--primary-blue);

              &:hover,
              &:active {
                text-decoration: underline;
              }
            }
          }

          img {
            height: 15px;
            width: 10px;
            margin-left: 5px;
            margin-top: 34px;
          }

        }

      }
    }
    //end of huiospay train section
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 800px) {
  .container {

    button {
      padding: 8px 20px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
    }


    //background 
    .img {
      background-image: url("../../../../assets/img/map.svg");
      height: 80vh;
      background-size: cover;
      background-position: top;

      img {
        display: none;
      }
    }

    //end of background//

    //map section
    .overlay {
      position: absolute;
      top: 10%;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      height: 53vh;
      overflow: hidden;

      .overlay-left,
      .overlay-right {
        display: flex;
        justify-content: space-around;
      }

      .overlay-left {
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;

        .bold-text {
          h2 {
            font-size: 40px;
            font-weight: 600;
          }
        }

        .parag {
          p {
            font-size: 25px;
          }
        }

        .btn {

          button {
            padding: 8px 22px;
            border-radius: 10px;
            font-size: 20px;
            margin-right: 5%;

          }

          .btn-agent {}

          .btn-agent-setup {}
        }
      }

      .overlay-right {
        display: none;
      }
    }

    //end of map section

    //seamless payment section
    .seamless-section {
      margin-top: 10%;
      display: flex;
      flex-direction: column;

      .seamless-title {
        padding: 10px;
        margin: auto;

        .btn-seamless {
          font-size: 20px;
          padding: 8px 20px;
          text-transform: uppercase;
        }

      }

      .seamless-heading {
        max-width: 90%;

        h2 {
          font-size: 25px;
        }
      }

      .seamless-payment {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

        .left,
        .middle,
        .right {
          display: flex;
          flex-direction: column;

          .icon {
            padding-top: 20px;
            padding-left: 10px;

            img {}
          }

          .text {
            display: flex;
            flex-direction: column;

            .text-title {

              padding: 0;

              h3 {
                margin: 0;
                font-size: 26px;
              }
            }

            .text-msg {
              h4 {
                margin: 0;
                font-size: 23px;
              }
            }
          }

        }
      }
    }

    //end of seamless payment section

    // what we do section
    .what-we-do {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .wwd-left {
        display: none;

      }

      .wwd-right {
        width: calc(100%);

        .wwd-button {
          .btn-wwd {
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .wwd-title {
          width: 100%;

          h2 {
            font-size: 25px;
          }
        }

        .wwd-text {
          padding-right: 10px;

          h3 {
            font-size: 23px;
            text-align: start;
          }
        }

        .wwd-bulletin {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 2%;
              min-width: 20px;

              .icon {
                display: flex;
                align-self: center;
                max-width: 25px;
              }

              .text {
                margin-left: 10px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: 21px;
                }
              }
            }
          }
        }

      }
    }

    //end of what we do section

    //why us section
    .why-us {
      display: flex;
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10%;

      .wu-left {
        width: 100%;
        padding-left: 0;

        .wu-btn {
          .btn-wwd {
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .wu-title {
          width: 100%;

          h3 {
            font-size: 25px;
          }
        }

        .wu-card {
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          margin-bottom: 5%;
          width: 80%;
          transition: 0.8s ease-in-out;

          .icon {
            display: flex;
            align-self: center;
            padding: 8px;
          }

          .right {
            padding: 8px;

            .title {
              h3 {
                font-size: 22px;
              }
            }

            .text {
              h4 {
                font-size: 20px;
              }
            }
          }

          &:hover {
            transform: translate(75px, 0px);
            -webkit-transform: translate(75px, 0px);
            -moz-transform: translate(75px, 0px);
            -ms-transform: translate(75px, 0px);
            -o-transform: translate(75px, 0px);
            border: none;
          }

          &:active {
            transform: translate(100px, 0px);
            -webkit-transform: translate(100px, 0px);
            -moz-transform: translate(100px, 0px);
            -ms-transform: translate(100px, 0px);
            -o-transform: translate(100px, 0px);
            border: none;
          }
        }
      }

      .wu-right {
        display: none;
      }

    }

    //end of why us section

    //huiospay safe train section
    .huiospay-safe-tain {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .hst-left {
        display: none;

      }

      .hst-right {
        width: 100%;
        padding: 0px;

        .hst-button {
          .btn-hst {
            display: none;
          }

          .btn-hst-two {
            display: block;
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .hst-title {
          width: 100%;

          h2 {
            font-size: 26px;
          }
        }

        .hst-text {
          h3 {
            font-size: 22px;
            line-height: 1.5;
            font-weight: 100;
          }
        }

        .hst-bulleton {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 5%;

              .icon {
                display: flex;
                align-self: center;
                max-width: 30px;
              }

              .text {
                margin-left: 10px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: 22px;
                }
              }
            }
          }
        }

        .coming-soon {
          display: flex;
          flex-direction: row;

          h4 {
            font-size: 20px;
            font-weight: 600;
            padding-right: 0;

            a {
              text-decoration: none;
              color: var(--primary-blue);

              &:hover,
              &:active {
                text-decoration: underline;
              }
            }
          }

          img {
            height: 15px;
            width: 10px;
            margin-left: 5px;
            margin-top: 34px;
          }

        }

      }
    }

    //end of huiospay train section



  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 801px) and (max-width: 1024px) {
  .container {

    button {
      padding: 8px 20px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
    }


    //background 
    .img {
      background-image: url("../../../../assets/img/map.svg");
      height: 80vh;
      background-size: cover;
      background-position: top;

      img {
        display: none;
      }
    }

    //end of background//

    //map section
    .overlay {
      position: absolute;
      top: 10%;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      height: 53vh;
      overflow: hidden;

      .overlay-left,
      .overlay-right {
        display: flex;
        justify-content: space-around;
      }

      .overlay-left {
        width: 90%;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;

        .bold-text {
          h2 {
            font-size: 50px;
            font-weight: 600;
          }
        }

        .parag {
          p {
            font-size: 30px;
          }
        }

        .btn {

          button {
            padding: 8px 30px;
            border-radius: 10px;
            font-size: 27px;
            margin-right: 5%;

          }

          .btn-agent {}

          .btn-agent-setup {}
        }
      }

      .overlay-right {
        display: none;
      }
    }

    //end of map section

    //seamless payment section
    .seamless-section {
      margin-top: 10%;
      display: flex;
      flex-direction: column;

      .seamless-title {
        padding: 10px;
        margin: auto;

        .btn-seamless {
          font-size: 20px;
          padding: 8px 20px;
          text-transform: uppercase;
        }

      }

      .seamless-heading {
        max-width: 90%;

        h2 {
          font-size: 25px;
        }
      }

      .seamless-payment {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;

        .left,
        .middle,
        .right {
          display: flex;
          flex-direction: column;

          .icon {
            padding-top: 20px;
            padding-left: 10px;

            img {}
          }

          .text {
            display: flex;
            flex-direction: column;

            .text-title {

              padding: 0;

              h3 {
                margin: 0;
                font-size: 26px;
              }
            }

            .text-msg {
              h4 {
                margin: 0;
                font-size: 23px;
              }
            }
          }

        }
      }
    }

    //end of seamless payment section

    // what we do section
    .what-we-do {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .wwd-left {
        display: none;

      }

      .wwd-right {
        width: calc(100%);

        .wwd-button {
          .btn-wwd {
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .wwd-title {
          width: 100%;

          h2 {
            font-size: 25px;
          }
        }

        .wwd-text {
          padding-right: 10px;

          h3 {
            font-size: 23px;
            text-align: start;
          }
        }

        .wwd-bulletin {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 2%;
              min-width: 20px;

              .icon {
                display: flex;
                align-self: center;
                max-width: 25px;
              }

              .text {
                margin-left: 10px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: 21px;
                }
              }
            }
          }
        }

      }
    }

    //end of what we do section

    //why us section
    .why-us {
      display: flex;
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 10%;

      .wu-left {
        width: 100%;
        padding-left: 0;

        .wu-btn {
          .btn-wwd {
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .wu-title {
          width: 100%;

          h3 {
            font-size: 25px;
          }
        }

        .wu-card {
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          margin-bottom: 5%;
          width: 80%;
          transition: 0.8s ease-in-out;

          .icon {
            display: flex;
            align-self: center;
            padding: 8px;
          }

          .right {
            padding: 8px;

            .title {
              h3 {
                font-size: 22px;
              }
            }

            .text {
              h4 {
                font-size: 20px;
              }
            }
          }

          &:hover {
            transform: translate(75px, 0px);
            -webkit-transform: translate(75px, 0px);
            -moz-transform: translate(75px, 0px);
            -ms-transform: translate(75px, 0px);
            -o-transform: translate(75px, 0px);
            border: none;
          }

          &:active {
            transform: translate(100px, 0px);
            -webkit-transform: translate(100px, 0px);
            -moz-transform: translate(100px, 0px);
            -ms-transform: translate(100px, 0px);
            -o-transform: translate(100px, 0px);
            border: none;
          }
        }
      }

      .wu-right {
        display: none;
      }

    }

    //end of why us section

    //huiospay safe train section
    .huiospay-safe-tain {
      display: flex;
      flex-direction: row;
      margin-top: 10%;
      padding-left: 30px;
      padding-right: 30px;

      .hst-left {
        display: none;

      }

      .hst-right {
        width: 100%;
        padding: 0px;

        .hst-button {
          .btn-hst {
            display: none;
          }

          .btn-hst-two {
            display: block;
            padding: 8px 30px;
            font-size: 20px;
            text-transform: uppercase;
          }
        }

        .hst-title {
          width: 100%;

          h2 {
            font-size: 26px;
          }
        }

        .hst-text {
          h3 {
            font-size: 22px;
            line-height: 1.5;
            font-weight: 100;
          }
        }

        .hst-bulleton {
          display: flex;
          flex-direction: column;

          .list {
            display: flex;
            flex-direction: column;

            .list1 {
              display: flex;
              flex-direction: row;
              margin-right: 5%;

              .icon {
                display: flex;
                align-self: center;
                max-width: 30px;
              }

              .text {
                margin-left: 10px;

                p {
                  color: var(--font-color);
                  padding-left: 15px;
                  font-size: 22px;
                }
              }
            }
          }
        }

        .coming-soon {
          display: flex;
          flex-direction: row;

          h4 {
            font-size: 20px;
            font-weight: 600;
            padding-right: 0;

            a {
              text-decoration: none;
              color: var(--primary-blue);

              &:hover,
              &:active {
                text-decoration: underline;
              }
            }
          }

          img {
            height: 15px;
            width: 10px;
            margin-left: 5px;
            margin-top: 34px;
          }

        }

      }
    }

    //end of huiospay train section
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1279px) {}

/* Media Query for Large screens */
@media (min-width: 1280px) {
  .container {

    //map section
    .overlay {

      .overlay-left {

        .bold-text {
          h2 {
            font-size: 45px;
            font-weight: 600;
          }
        }

        .btn {
          button {
            padding: 8px 20px;
            border-radius: 18px;
            font-size: 22px;

          }

        }
      }

      .overlay-right {
        img {
          margin-top: 4.5rem;
        }
      }
    }

    //end of map section

    // what we do section
    .what-we-do {
      padding-left: 10px;
      padding-right: 40px;

      .wwd-left {
        width: 50%;
        cursor: pointer;

        img {
          width: 90%;
        }

      }

      .wwd-right {
        width: calc(100% - 50%);
        padding: 20px;
      }
    }

    //end of what we do section

    //huiospay safe train section
    .huiospay-safe-tain {
      padding-left: 40px;
      padding-right: 40px;

      .hst-left {
        padding: 40px;
        width: 50%;

        img {
          width: 90%;
        }

      }

      .hst-right {
        width: calc(100% - 50%);
        padding: 50px;
      }
    }

    //end of huiospay safe train section

  }

}

/* Media Query for macbook Pro  15 */
@media (min-width: 1440px) {
  .container {

    //map section
    .overlay {

      .overlay-left {

        .bold-text {
          h2 {
            font-size: 50px;
            font-weight: 600;
          }
        }

        .btn {
          button {
            padding: 8px 40px;
            border-radius: 18px;
            font-size: 22px;

          }

        }
      }

      .overlay-right {
        img {
          margin-top: 13.2rem;
        }
      }
    }

    //end of map section

  }

}

/* Media Query for office hp  15 */
@media (min-width: 1600px) {
  .container {

    //map section
    .overlay {

      .overlay-left {

        .bold-text {
          h2 {
            font-size: 50px;
            font-weight: 600;
          }
        }

        .btn {
          button {
            padding: 8px 40px;
            border-radius: 18px;
            font-size: 22px;

          }

        }
      }

      .overlay-right {
        img {
          margin-top: 20.5rem;
        }
      }
    }

    //end of map section
  }

}