button {
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.x-small {
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.small {
    font-size: 20px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.custom {
    font-size: inherit;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.nav-button {
    font-size: 23px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.medium {
    font-size: 40px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.large {
    font-size: 60px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.x-large {
    font-size: 80px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.xx-large {
    font-size: 100px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

.toast {
    font-size: 18px;
    padding: 8px 25px;
    border-radius: 20px;
    border: none;
    background-color: #E4F9FF;
    color: #66C4AC;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
}

